<nav class="navbar navbar-expand-sm " style="background-color: #2f38bf;">
    <div class="container-fluid mx-5 px-1 d-flex flex-row justify-content-center">
      <div>
      <a href="#" class="navbar-brand d-none" *ngIf="user">{{ user.login }}</a>
      <h1 style="color: #fca311; font-family: 'Fredericka the Great', cursive;">PEEPS</h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#main-nav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
  
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto text-white " >
          <li class="nav-item" *ngIf="user">
            <a
              routerLink="/{{ user.login }}/repos"
              routerLinkActive="active"
              class="nav-link py-4"
              style="color: #0bebaf;"
              >Repositories
              <span class="badge-info badge">{{ user.public_repos }}</span></a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://api.github.com/rate_limit"
              target="_blank"
              class="nav-link ml-3 my-3  btn btn-sm text-dark"
              style="background-color: #fca311;"
            >
              Requests:
              <b
                class="badge badge-info"
                [ngClass]="{
                  'badge-danger': requests.remaining < 15,
                  'badge-warning': requests.remaining < 30
                }"
                >{{ requests.used }} | <span>{{ requests.limit }}</span></b
              >
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>