.home-para-1 {
    font-weight: 400;
    font-size: 45px;
  }

  .home-para-2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
  }
  
  .home-para-3 {
    width: 60%;
  }